*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root {   
   --bg-color : #212121;
    --primary-color : #c2c2c2;
    --secondary-color : #000000;

    --third-color: #fff; 
    --border-color : rgb(54, 54, 54);
    --checkbox-color : rgb(255, 255, 255);
    
    --checkbox-tick-color : rgb(0, 0, 0);
}
body {
    color: var(--primary-color);
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
}
.themeSwitch {
  margin: 0rem 1rem;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}
#switch {
	height: 0;
	width: 0;
	visibility: hidden;
}

 #switchLabel {
	cursor: pointer;
	text-indent: -9999px;
	width: 60px;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

#switchLabel::after {
	content: '';
	position: absolute;
	top: 6px;
	left: 6px;
	width: 16px;
	height: 16px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

#switch:checked + #switchLabel {
	background: var(--secondary-color);
}

#switch:checked + #switchLabel::after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

#switchLabel:active::after {
	width: 10px;
}
.container {
    width: 75%;
    margin: auto;
}
/* header */
header {
    margin: 3rem 0rem;
    text-align: center;
}
/* main items */
.main {
    margin: 2rem 0rem;
}
.item {
    position: relative;
    padding: 0.5rem 1rem;
    margin: .25rem 0rem;
    border: 1px solid var(--border-color);
/*     border-radius:10px; */
    display: grid;
    grid-template-columns: 1fr .4fr .4fr .4fr .4fr .1fr;
}
.item:hover {

    cursor: pointer;
    border-color: var(--third-color);
}
.item__name {
    font-size: 1.1rem;
}

input[type=number]{
    font-size: .8rem;
    text-align: center;
    width:5rem;
    margin: 0rem 2rem ;
} 
/* confirm List */
.confirmDiv {
    margin: 1rem auto;
  
}
.confirm__heading {
    text-align: center;
    padding: 1rem 0rem;
    border-bottom: 1px solid var(--third-color);
}
.totalPrice{
    margin: 1rem 0rem;
    text-align: center;
}
.confirmList {
    padding: 1rem 0rem;
    border-bottom: 1px solid var(--third-color);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr;

} 
.cListItem {
  width: 70%;
  display: grid;
  margin: .2rem auto;
  grid-template-columns: 1fr .2fr .2fr;
}


/* search */
.search-box{
    padding: .5rem 0rem;
    width: 60%;
    margin: auto;
    position: relative;
    display: flex;
  
}
  .search-input{
    width: 100%;
    padding: .5rem;
    border: 2px solid var(--primary-color);
    border-right: none;
    outline: none;
    font-size: .9rem;
    color: var(--primary-color);
    background: none;
  }
.search-button{
  text-align: center;
  color: var(--primary-color);
  width: 40px;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  border-left: none;
  background: none;
  font-size: 20px;
  border-left: 2px solid var(--primary-color);
  
}


  /* radio */
#radio {
  margin: 1rem 0rem;
  font-size: 1.1rem;
  text-align: center;
}
.radio_title {
  margin: 1rem 0rem .5rem 0rem;
  font-weight: 600;
}

.radio_options {
    margin: 0rem 1rem;
}


#radio input[type='radio']{
  width: 1rem !important; 
  height: 1rem !important;

  border-radius: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
  box-shadow: none;
  border: 1px solid var(--primary-color);
}

#radio input[type='radio']:checked {
    background-color: var(--primary-color);
    outline: none;
} 
#radio input[type='radio']:hover {
  cursor: pointer;
} 

/* checkbox */
.main input[type='checkbox']{
    width: .8rem !important; 
    height: .8rem !important; 
    margin: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance:none;
    outline: 1px solid var(--primary-color);
    box-shadow: none;
    font-size: 2em;
  }
.main input[type='checkbox']:checked {
      background-color:var(--checkbox-color);
}  
.main input[type='checkbox']:checked:after {
    content: '\2713';
    color:var(--checkbox-tick-color);
    position: absolute;
    line-height: 1rem;
    font-size:.5rem;
    padding-left: 0.15rem;
}
/* button */
.btn {
    border: none;
    color: white;
    padding: .3rem 1rem;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 20%;
    margin: 3rem auto;
    font-size: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: var(--primary-color);
    border: 2px solid #000000;
}    
.btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.d-none {display: none;}
.z-0 {z-index: -1;}

footer {
  padding: 2rem 0rem;
  text-align: center;
  font-size: .9rem;
}
/*==============================================================================================*/
@media only screen and (max-width: 960px) {
    :root {
        font-size: 14px;
    }
    .container {
        width: 90%;
    }
    header {
        margin: 2rem 0rem;
    }
    .item {
        grid-template-columns: 1fr .4fr .4fr .4fr .8fr .1fr;
    }
    .item__name {
        font-size: 1.1rem;
    }
    input[type=number]{
        font-size: .7rem;
        width:3rem;
    } 
    .search-box{
      width: 70%
    }
  .search-input{
    width: 100%;
  }
  /* radio */
    input[type='radio']{
    width: 1rem !important; 
    height: 1rem !important; 
  }
  .btn {
    width: 40%;
  }
  #switchLabel {
    width: 40px;
    height: 20px;
  }
  #switchLabel::after{
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
  }
} 
@media only screen and (max-width: 660px) {
    :root {
        font-size: 12px;
    }
    .container {
        width: 95%;
    }
    .item {
        grid-template-columns: 1fr .4fr .4fr .4fr .8fr .1fr;
    }
  /* radio */
    input[type='radio']{
    width: 1rem !important; 
    height: 1rem !important; 
  }
  /* checkbox */
    input[type='checkbox']{
    width: 10px !important;
    height: 10px !important;

  }
} 
@media only screen and (max-width: 500px) {
    :root {
        font-size: 12px;
    }
    .container {
        width: 98%;
    }
    .item {
        grid-template-columns: 1fr .4fr .4fr .4fr .8fr .1fr;
    }
  /* radio */
    input[type='radio']{
    width: 1rem !important; 
    height: 1rem !important; 
  }
  /* checkbox */
    input[type='checkbox']{
    width: 10px !important;
    height: 10px !important;
  }
  .hyphen {
      display: none;
  }
} 
